<div class="container">
  <!-- Content here -->

    <div class="row">

      <!-- Monday -->
      <div class="col">
        <br>
        <div class="col-sm d-flex justify-content-center">
          <div class="p-3 mb-2 bg-light text-dark">Monday</div>
        </div>
        <br>
        <div class="card" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Group Fitness</h5>
            <h6 class="card-subtitle mb-2 text-muted">8:30AM-9.30AM</h6>
            <a href="#" class="card-link">More info</a>
          </div>
        </div>
        <br>
        <div class="card" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Zumba</h5>
            <h6 class="card-subtitle mb-2 text-muted">6:30PM-7:30PM</h6>
            <a href="/event/event-4/" class="card-link">More info</a>
          </div>
        </div>
        <br>
        <div class="card" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Strong by Zumba</h5>
            <h6 class="card-subtitle mb-2 text-muted">7:30PM-8:30PM</h6>
            <a href="/event/event-4/" class="card-link">More info</a>
          </div>
        </div>
      </div>

      <!-- Tuesday -->
      <div class="col">
        <br>
        <div class="col-sm d-flex justify-content-center">
          <div class="p-3 mb-2 bg-light text-dark">Tuesday</div>
        </div>
        <br>
        <div class="card" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Group Fitness</h5>
            <h6 class="card-subtitle mb-2 text-muted">8:30AM-9.30AM</h6>
            <a href="#" class="card-link">More info</a>
          </div>
        </div>
        <br>
        <div class="card" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Step Aerobic</h5>
            <h6 class="card-subtitle mb-2 text-muted">6:00PM-7:00PM</h6>
            <a href="#" class="card-link">More info</a>
          </div>
        </div>
        <br>
        <div class="card" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Pilates</h5>
            <h6 class="card-subtitle mb-2 text-muted">7:30PM-8:30PM</h6>
            <a href="/event/event-7/" class="card-link">More info</a>
          </div>
        </div>
      </div>

      <!-- Wednesday -->
      <div class="col">
        <br>
        <div class="col-sm d-flex justify-content-center">
          <div class="p-3 mb-2 bg-light text-dark">Wednesday</div>
        </div>
        <br>
        <div class="card" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Group Fitness</h5>
            <h6 class="card-subtitle mb-2 text-muted">8:30AM-9.30AM</h6>
            <a href="#" class="card-link">More info</a>
          </div>
        </div>
        <br>
        <div class="card" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Yoga</h5>
            <h6 class="card-subtitle mb-2 text-muted">6:30PM-7:30PM</h6>
            <a href="/event/event-1/" class="card-link">More info</a>
          </div>
        </div>
        <br>
        <div class="card" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Group Fitness</h5>
            <h6 class="card-subtitle mb-2 text-muted">7:30PM-8:30PM</h6>
            <a href="#" class="card-link">More info</a>
          </div>
        </div>
      </div>

      <!-- Thursday -->
      <div class="col">
        <br>
        <div class="col-sm d-flex justify-content-center">
          <div class="p-3 mb-2 bg-light text-dark">Thursday</div>
        </div>
        <br>
        <div class="card" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Group Fitness</h5>
            <h6 class="card-subtitle mb-2 text-muted">8:30AM-9.30AM</h6>
            <a href="#" class="card-link">More info</a>
          </div>
        </div>
        <br>
        <div class="card" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Belly Dance</h5>
            <h6 class="card-subtitle mb-2 text-muted">6:30PM-7:30PM</h6>
            <a href="/event/event-6/" class="card-link">More info</a>
          </div>
        </div>
        <br>
        <div class="card" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Zumba</h5>
            <h6 class="card-subtitle mb-2 text-muted">7:30PM-8:30PM</h6>
            <a href="/event/event-4/" class="card-link">More info</a>
          </div>
        </div>
      </div>

      <!-- Friday -->
      <div class="col">
        <br>
        <div class="col-sm d-flex justify-content-center">
          <div class="p-3 mb-2 bg-light text-dark">Friday</div>
        </div>
        <br>
        <div class="card" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Group Fitness</h5>
            <h6 class="card-subtitle mb-2 text-muted">8:30AM-9.30AM</h6>
            <a href="#" class="card-link">More info</a>
          </div>
        </div>
        <br>
        <div class="card" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Bollywood</h5>
            <h6 class="card-subtitle mb-2 text-muted">6:30PM-7:30PM</h6>
            <a href="#" class="card-link">More info</a>
          </div>
        </div>
        <br>
        <div class="card" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">TRX</h5>
            <h6 class="card-subtitle mb-2 text-muted">7:30PM-8:30PM</h6>
            <a href="/event/event-2/" class="card-link">More info</a>
          </div>
        </div>
      </div>

      <!-- Saturday -->
      <div class="col">
        <br>
        <div class="col-sm d-flex justify-content-center">
          <div class="p-3 mb-2 bg-light text-dark">Saturday</div>
        </div>
        <br>
        <div class="card" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Group Fitness</h5>
            <h6 class="card-subtitle mb-2 text-muted">8:30AM-9.30AM</h6>
            <a href="#" class="card-link">More info</a>
          </div>
        </div>
        <br>
        <div class="card" style="height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Crossfit</h5>
            <h6 class="card-subtitle mb-2 text-muted">5:30PM-6:30PM</h6>
            <a href="#" class="card-link">More info</a>
          </div>
        </div>

      </div>
    </div>
</div>
